PORT=4173
VITE_API_BASE_URL=http://localhost:4173
SOLANA_RPC_URL=https://solana-rpc.publicnode.com
HELIUS_RPC_URL=
HELIUS_API_KEY=
LIVE_WATCHLIST_MINTS=EEQpwgtPF3UUoHSWSLh33VPKYg8tBTkLK2k7GcVeBAGS,2BnLyvzzGPZXqgVhiSxHi5hSXtawsnngNQ4ZnRWEBAGS,8dFXJeqWKPcMk3taSEotQ1xmcteJtc5Lwn4HeWbRBAGS
BAGS_BASE_URL=https://api.bags.fm
BAGS_API_KEY=
